@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1420px;
  margin: 0 auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #888b8c;
  font-family: 'Poppins', sans-serif;
  /*************HEADER-End****************/
  /**************SECTION**************/
  /****************SECTION-END****************/
}

body .from {
  background: #fff;
  border-radius: 12px;
  /******** Header*********/
}

body .from header h1 {
  margin-top: 39px;
  font-size: 32px;
  font-weight: bold;
}

body .from header .header__Link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 39px;
}

body .from header .header__Link .header__Link__borderLeft, body .from header .header__Link .header__Link__borderRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .from header .header__Link .header__Link__borderLeft {
  border: 1px solid #5191C3;
  border-radius: 8px;
  width: 177px;
  height: 42px;
}

body .from header .header__Link .header__Link__borderLeft .header__Link__borderLeft__img {
  margin-right: 8px;
}

body .from header .header__Link .header__Link__borderLeft .header__Link__borderLeft__a {
  text-decoration: none;
  font-size: 16px;
  color: #5191C3;
}

body .from header .header__Link .header__Link__borderLeft:hover {
  background: #5191C3;
}

body .from header .header__Link .header__Link__borderLeft:hover .header__Link__borderLeft__a {
  color: #fff;
}

body .from header .header__Link .header__Link__borderRight {
  border: 1px solid #F17254;
  border-radius: 8px;
  width: 156px;
  height: 42px;
  margin-left: 16px;
}

body .from header .header__Link .header__Link__borderRight .header__Link__borderRight__img {
  margin-right: 8px;
}

body .from header .header__Link .header__Link__borderRight .header__Link__borderRight__a {
  text-decoration: none;
  color: #F17254;
}

body .from header .header__Link .header__Link__borderRight:hover {
  background: #F17254;
}

body .from header .header__Link .header__Link__borderRight:hover .header__Link__borderRight__a {
  color: #fff;
}

body .from header .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 24px 0 24px;
}

body .from header .line .line__left {
  margin-top: 41px;
  margin-right: 23px;
}

body .from header .line .line__text {
  margin-top: 41px;
  margin-right: 23px;
  color: #C6CBCD;
}

body .from header .line .line__right {
  margin-top: 41px;
}

body .section {
  margin: 0 24px 0 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .section label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .section .section__warning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .section .section__warning .section__warning__p {
  color: #C95050;
  font-size: 12px;
}

body .section .section__label__one {
  margin-top: 23px;
}

body .section .section__label__two, body .section .section__label__three {
  margin-top: 24px;
}

body .section .section__input {
  height: 48px;
  border: 1px solid #C6CBCD;
  border-radius: 8px;
  padding: 16px;
}

body .section .section__input:hover {
  cursor: pointer;
  background-color: #C6CBCD;
}

body .section .section__submit {
  margin-top: 36px;
}

body .section .section__submit .section__submit__input {
  font-size: 18px;
  width: 522px;
  height: 50px;
  background-color: #49BCE0;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
}

body .section .section__submit .section__submit__input:hover {
  cursor: pointer;
  background-color: #33A9CE;
}

body .section .section__a {
  margin-top: 40px;
  margin-bottom: 25px;
  text-decoration: none;
  color: #C6CBCD;
}
/*# sourceMappingURL=style.css.map */